/**{margin: 0;padding: 0;}
*/
body{
	margin-top: 50px;
}

 #wrap{
 	width: 790px;
 	height: 340px;
 	border: 1px solid #ccc;
 	position: relative;
 	margin: 0 auto;

overflow: hidden;
  }
 #roll{
 	position: absolute;
 	left: 0;
    overflow: hidden;
    width: 9999px;
 }
 #roll img{
 	float: left;
 	width: 790px;
 	height:340px;
 }
/* #left{
 	position: absolute;
 	top: 140px;
 	left: 0;
 	width: 25px;
 	height: 50px;
 	z-index: 5;
 	background: black;
 	text-align: center;
 	opacity:  0.2;
 }
  #right{
 	position: absolute;
 	top: 140px;
 	right: 0;
 	width: 25px;
 	height: 50px;
 	z-index: 5;
 	background: black;
 	text-align: center;
 	opacity:  0.2;
 }*/