.divboss{
  width: 900px;
  height: 1180px;
  position: relative;
}
.div1{
  width: 900px;
  height: 30px;
  border: 1px solid #cccccc;
  background: #cccccc;
  position: relative;
  top: -10px;
  left: 10px;
}
.div2{
  margin-top: 10px;
  width: 900px;
  height: 300px;
  border: 1px solid grey;
  margin-left: 10px;
}
#img1{
  margin-left: 5px;
}
#img2{
  margin-left: 328px;
  margin-bottom: 5px;
}
#img3{
  width: 900px;
  margin-top: 5px;
}
.divboss2{
  width: 350px;
  height:741px;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
.div3{
  width: 350px;
  height: 220px;
  background: black;
}
video{
  margin-left: 10px;
}
.div4{
  width: 350px;
  height: 200px;
  border: 1px solid grey;
  background: #f0f0f0;
  margin-top: 10px;
  border-radius: 5px;
}
#id1,zick{
  color: white;
  width: 60px;
  height: 20px;
  font-size: 0.8em;
  background: #333333;
  margin-left: 10px;
  line-height: 19px;
  text-align: center;
  margin-top: 10px;
}
.div4-1{
  width: 330px;
  height: 155px;
  margin-left: 10px;
  margin-top: 10px;
  border-top: 1px solid grey;
}
#id2{
  width: 160px;
  height: 155px;
  float: left;
}
#t,#x{
  width: 160px;
  height: 66px;
  background: #333333;
}
#p,#y{
  width: 160px;
  height: 66px;
  background: #333333;
  margin-top: 12px;
}
#id3{
  width: 160px;
  height: 155px;
  float: left;
  margin-left: 10px;
}
#img4,#img5,#img6,#img7{
  width: 66px;
  height: 66px;
  float: left;
  margin-right: 5px;
}
#zi1,#zi2,#zi3,#zi4{
  font-size: 0.8em;
  color: white;
  padding-top: 25px;
}
.div5{
  width: 350px;
  height: 300px;
  border: 1px solid grey;
  margin-top: 10px;
}
#zuo{
  width: 160px;
    height: 180px;
    float: left;
}
p{
  margin: 0;
}
#mftj{
  width: 350px;
  height: 30px;
  background: #333333;
}
#mf{
  color: white;
  margin-left: 10px;
  line-height: 30px;
  font-size: 0.9em;
}
#tutu img{
  width: 350px;
}
#jrdj{
  margin-top: 10px;
  margin-left: 10px;
  border-left: 5px solid red;
}
#jin{
  font-weight: bold;
  font-size: 0.98em;
  margin-left: 5px;
}
#gg{
  margin-top: 9px;
  margin-left: 10px;
}
#ttt{
   color: red;
   font-weight: bold;
   margin-left: 10px;
   margin-top: 10px;
}
#ddd{
  margin-left: 10px;
  font-weight: bold;
  margin-top: 2px;
}
#you{
  width: 160px;
    height: 180px;
    float: left;
    margin-left: 10px;
}
#zuij{
  margin-top: 10px;
  margin-left: 10px;
  border-left: 5px solid red;
}
#zj{
  font-weight: bold;
  margin-left: 5px;
  font-size: 0.98em;
}
#ggo{
  margin-top: 10px;
}
#go{
  color: red;
  font-weight: bold;
  margin-left: 10px;
  font-size: 0.90em;
  line-height: 20px;
}
#l{
  font-weight: bold;
}
#go1{
  font-size: 0.90em;
  margin-left: 10px;
}
.divboss3{
  width: 525px;
  height: 741px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
 }
#hot{
  width: 537px;
  height: 30px;
  background: #333333;
}
#hot1{
  color: white;
  line-height: 30px;
  margin-left: 10px;
  font-weight: bold;
}
#ck:hover{
  text-decoration: underline;
}
#ck{
  margin-left: 30px;
  font-size: 0.9em;
}
#img13{
  width: 537px;
  height: 115px;
}
.div6-1{
  width: 536px;
  height: 220px;
  border: 2px solid #bebebe;
}
.zuo{
  width: 240px;
  height: 220px;
  float: left;
}
#zuo1,#you1{
  width: 240px;
  height: 110px;
  border-bottom: 1px dashed black;
  margin-left: 15px;
}
#img14,#img15,#img16,#img17{
  width: 66px;
  height: 66px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}
#zzz{
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 20px;
  text-indent: 2em;
  line-height: 20px;
}
#zzz1{
  color: red;
  font-weight: bold;
  font-size: 0.8em;
  text-indent: 2em;
}
#zuo2,#you2{
  width: 240px;
  height: 110px;
  margin-left: 15px;
}
.you{
  width: 240px;
  height: 220px;
  float: left;
  margin-left: 20px;
}
#zuot,#yout{
  width: 252.5px;
  height: 92px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
#img19{
  width: 255px;
  height: 92px;
  float: left;
}
.div8{
  width: 900px;
  height: 50px;
  background: #333333;
  position: absolute;
  bottom: 10px;
  }
  #dibu{
    text-align: center;
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
  }
